.env
.env.*
certs/
*.pem
*.key
*.crt
*.p12

.venv

**/__pycache__

*.py[cod]
static/*
!static/logo.png


.git

.gitignore



output/

uploads/

data/

static/

archive/

logs



chatbot-ui

node_modules



tests/

docs/

*.mp3

*.md



.vscode/

.idea/

.DS_Store